.card-cont
{
    height: 95%;
    width: 100%;


 
    display: flex;
    cursor: pointer;
    /* WORKS ON CHILD ELEMENT
    flex wrap was done to wrap childern  so that they dont get complressed due to dimention of the parent
    
    usualyy html will compress the child to fid the */
    flex-wrap: wrap;
    /*what to do with the additional contents that cannot fit the parent container*/
   
    padding: 10PX;
}
.card{
    height:45%;
    width: 15%;
    background-color:white;
    margin: 8PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    /* -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
   

}
.image-card
{
    height: 60%;
    display: flex;
    justify-content: center;
    justify-items: center;
    border: white;
   
}
.image-card>img{
    height: 95%;
    width: 95%;
    border-radius: 4px;
}
.disbx{
    width: 100%;
    height: 20%;
    overflow: hidden;
}
.title{
    height: 30%;
    width: 100%;
    overflow: hidden;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding: 5px;
}
.card:hover
{
    transform: scale(1.2);
}
.txt
{
    font-size: smaller;
    font-weight: lighter;
    text-align: left;
    height: 100%;
    width: 50%;
}
.row{
    padding: 2px;
}
.subcontainer
{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.subcontainer>p{
    padding:5px
}
.sub-main
{
    height: 15%;
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: hidden;
 
    scroll-behavior: smooth;
    margin-left: 2px;
}
.subin
{
    /* width: 70px;
    height: 30px; */
    padding: 10px;
    border: none;
    outline: none;
    
   
    font-size: 15px;
    display: flex;
    align-items: center;
}
.ardsub:hover
{
    background: #0000001f;
   
}
.subin>p
{
    margin: 5px;
}

.ardsub
{
    height: 100%;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    background: #0000000f;
    border-radius: 18%;
display: flex;
align-items: center;
justify-content: center;
}